@charset "utf-8";

#sinDiscapacidad{
    background-color: #E3F2FD;
    color: #1565C0;
    font-family: 'Abril Fatface', cursive;
}
#banner{
	width: 100%;
}

#barraMenu{
	font-size: 20px;
}

#dina4 {
    width: 210mm;
    height: 365mm;
    padding: 20px 60px;
    border: 2px solid blue;
    background: #E3F2FD;
	color: #1565C0;
    margin: 10px auto;
	
	font-family: 'Abril Fatface', cursive;
}

*{
	margin:0;
	padding:0;
}
#login-form {
	margin:5% auto;
	max-width:500px;
}
/* home page */
#wrapper{
	padding-top:50px;
}

#divConceptoImagen
{height: 250px;}




#concepto{
	clear: both;
	height: 100px;
}
