@charset "utf-8";


#visionBorrosa {
    font-size: 28px;
    background-color: white;
    color: black;
    font-family: 'Archivo Black', sans-serif;
	
	
}

#barraMenu{
	font-size: 20px;
	color: #c4319d;
}

#banner{
	width: 100%;
}

#dina4 {
	 
    width: 310mm;
    height: 555mm;
    padding: 20px 60px;
    border: 6px solid #c4319d;
    background: #ffeff9;
    margin: 10px auto;
	color: black;
	font-size: 38px;
    font-family: 'Archivo Black', sans-serif;
}

*{
	margin:0;
	padding:0;
}
#login-form {
	margin:5% auto;
	max-width:500px;
}
/* home page */
#wrapper{
	padding-top:50px;
}

#divConceptoImagen
{height: 250px;}




#concepto{
	clear: both;
	height: 100px;
}
