@charset "utf-8";

#sinDiscapacidad{
    background-color: #E3F2FD;
    color: #1565C0;
    font-family: 'Abril Fatface', cursive;
}

#daltonismo {
    background-color: white;
    color: black;
    font-family: 'Acme', sans-serif;
}
#ceguera {
    background-color: white;
    color: black;
    font-family: 'Noticia Text', serif;
}
#visionBorrosa {
    font-size: 28px;
    background-color: white;
    color: black;
    font-family: 'Archivo Black', sans-serif;
}